{% extends 'base.html.twig' %}

{% block body %}
    
	<p>
        <a href="{{ path('simple_form_list') }}">Come back</a>
    </p>

    {# disable html5 validations #}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
{% endblock %}
